@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&family=Rubik:ital,wght@0,300..900;1,300..900&family=Space+Grotesk:wght@300..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Red Hat Text', serif;
}

#map {
  height: 100vh;
}
#ip-title {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  color: hsl(0, 0%, 59%);
  letter-spacing: 2px;
}

#ip-info {
  font-weight: bold;
  color: hsl(0, 0%, 17%);
  font-size: 18px;
}

.leaflet-marker-icon {
  color: hsl(0, 0%, 17%);
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 480px) {
  #ip-title {
    font-size: 12px;
  }
  .info-details {
    margin-block: 15px;
  }
  #ip-info-card {
    text-align: center;
  }
  #ip-info {
    font-weight: bold;
    color: hsl(0, 0%, 17%);
    font-size: 18px;
  }
}
